body {
    font-size: 18px;
    alignment: center;
    background: #0b0c10;
    font-family: Cambria;
}

/* set width for main div */
.todo-main {
    /*width: 100%;*/
    max-width: 540px;
    font-family: inherit;
    /*margin-top: 20px;*/
}

.site-header {
    font-family: inherit;
    background: inherit;
    color: #45a29e;
}

.navbar {
    color:inherit;

}

/* header and input prompt div styling */
.todo-main .todo-header{
    padding:8px;
    margin-top: 100px;
    color: #45a29e;
    opacity: 50%;
    font-family: inherit;
    font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: 80px;*/
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    /*line-height: 80px;*/
}

.todo-main .todo-input {
    width: 100%;
    line-height: 32px;
    border: #c5c6c7 1px solid;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
    color: #66fcf1;
    background: #0b0c10;
    font-family: inherit;
}

.todo-main .todo-input:focus {
    outline: 0 solid transparent;
    border: #c5c6c7 1px solid;
    padding: 8px;
    border-radius: 4px;
}

.todo-task {
    background: #0b0c10;
    color: white;
    border-bottom: #66fcf1 1px solid;
    font-family: inherit;
}

.fa, .fas {
    color: white;
}
/* Label, text input, and paragraph text, and date */

.todo-label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;

}

.todo-label .todo-text {
    /*padding: 0.5rem 0.25rem;*/
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    width: 90%;
    height: 100%;
    text-align: left;
    margin-bottom: 0;
}

.todo-label .todo-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(10px + (25 - 10) * ((100vw - 300px) / (1600 - 300)));
    /*height: 15px;*/
    width: calc(10px + (25 - 10) * ((100vw - 300px) / (1600 - 300)));
    /*width: 15px;*/
    border: white 1px solid;
    border-radius: 12px;
    outline: 0 solid transparent;
    vertical-align: middle;
    margin-right: 10px;
}

.todo-label .todo-checkbox:checked {
    background: #292b2c;
    border: 0 solid transparent;
    /*backgrou : 50%;*/
}

#date-created {
    margin-top: -10px;
    margin-left: 44px;
}

/* edit and quit buttons styling */
.todo-quit, .todo-edit-btn{
    padding: 0;
    border: none;
    background: none;
    outline: 0 solid transparent;
}

/* need to fix this one and the next */
.todo-button-group button{
    outline: 0 solid transparent;
    border: 0 solid transparent;
    background: transparent;
}

.todo-button-group button:hover {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-bottom: #66fcf1 1px solid;
}

.todo-button-group button:focus{
    /*outline: 0 solid transparent;*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-bottom: #66fcf1 1px solid;
}

/* to be used in jquery  */
.todo-done {
    text-decoration: line-through;

}


.todo-edit {
    outline: 0 solid transparent;
    border: 0 solid transparent;
    background: #0b0c10;
    color: #66fcf1;
}

