body {
    font-size: 16px;
    width: 480px;
    alignment: center;
    color: black;
}

/* set width for main div */
.todo-main {
    width: 100%;
}

/* header and input prompt div styling */
.todo-main .todo-header{
    padding:8px;
    margin: 0;
    background: rgb(246, 247, 235);
}

.todo-main .todo-input {
    width: 100%;
    line-height: 32px;
    padding: 8px;
    margin: 0;
    border: none;
}

/* Label, text input, and paragraph text, and date */

.todo-label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;

}

.todo-label .todo-text {
    /*padding: 0.5rem 0.25rem;*/
    vertical-align: middle;
    display: inline-block;
    padding: 4px;
    width: 90%;
    height: 100%;
    text-align: left;
    margin-bottom: 0;
}

.todo-label .todo-checkbox {
    vertical-align: middle;
    margin-right: 10px;
}

#date-created {
    margin-top: -10px;
    margin-left: 44px;
}

/* edit and quit buttons styling */
.todo-quit, .todo-edit-btn{
    padding: 0;
    border: none;
    background: none;
    outline: 0 solid transparent;
}

/* need to fix this one and the next */
.todo-button-group button{
    outline: 0 solid transparent;
    border: 0 solid transparent;
}

.todo-button-group button:focus{
    /*outline: 0 solid transparent;*/
    border: 0 solid transparent;
    background: transparent;
}

/* to be used in jquery  */
.todo-done {
    text-decoration: line-through;
}


.todo-edit {
    outline: 0 solid transparent;
    border: 0 solid transparent;
}

