body {
    font-size: 14px;
    width: 400px;
    alignment: center;
    /*color: rgb(246, 248, 255);*/
    color: black;
}
.todo-quit, .todo-edit-btn{
    padding: 0;
    border: none;
    background: none;
    outline: 0 solid transparent;
}

.todo-main .todo-header{
    padding:8px;
    margin: 0;
    background: rgb(246, 247, 235);
}

.todo-main .todo-input {
    width: 100%;
    line-height: 32px;
    padding: 8px;
    margin: 0;
    border: none;
}

.todo-task-alt {
    list-style-type: none;
}

.input-group {
    line-height: 40px;
}

.todo-edit {
    outline: 0px solid transparent;
    border: 0 solid transparent;
}

.todo-label {
    /*display: inline-flex;*/
    cursor: pointer;
    /*position: relative;*/

}

.todo-label > span {
    padding: 0.5rem 0.25rem;
}

.todo-done {
    text-decoration: line-through;
}

[contenteditable] {
    outline: 0px solid transparent;
}